.main-container {
    background-color: #894bca;
}
.header-section{
    
    display: flex;
    justify-content: space-between;
    padding: 10px 0px 15px 15px
}
.header-section h1 {
    color: white;
}
.header-section img {
    height: 200px;
}
.card {
    padding: 20px 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: white;
}
.card-heading {
    color: #f780c3;
    font-size: 23px;
}
.card-item {
    margin-bottom: 15px;
    display: flex;
}
.card-item img {
    width: 60px;
    height: 60px;
    margin-right: 15px;
}
.card-text h1 {
    color: #323f4b;
    font-size: 20px;
    margin: 0px;
}
.card-text p {
    color: #7b8794;
}
