.container {
    background-color: #e6f6ff;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #fb4e71;
    padding: 15px;
    color: white;
}

.player-name {
    margin-top: 0px;
}


