.conatiner {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/hotelbg.png");
    height: 100vh;
    padding-bottom: 25px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.footer {
    background-color: #000000e6;
    padding: 20px;
    border-radius: 18px;
    color: white;
    margin: 15px 25px;
}

.hotel-name {
    margin-top: 0px;
}

.booknow-btn {
    background-color: white;
    padding: 16px 20px;
    border: solid 0px;
    border-radius: 12px;
    width: 150px;
    font-weight: bold;
    align-self: center;
}