
.home-page-container {
    background-image: url("https://assets.ccbp.in/frontend/static-website/yoga-bg.png");
    background-size: cover;
    height: 100vh;
    text-align: center;
    padding: 20px;
}

.home-page-heading,
.heading {
    color: #132d84;
    font-size: 25px;
    font-weight: bold;
}
.girl-with-headphone-img {
    width: 400;
    height: 400px;
}
.girl-img {
    width: 200px;
}
.home-page-footer-section {
    position: bottom;
}

.home-page-footer-text {
    color: #323f4b;
    font-weight: 500;

}

.footer-btn {
    width: 150px;
    height: 50px;
    color: #fad693;
    border: solid 0px;
    background-color: #132d84;
    padding: 12px;
    border-radius: 5px;
}

.type-of-yoga-page-header {
    text-align: center;
}

.heading {
    margin-top: 15px;
    margin-bottom: 15px;
}

.type-of-yoga-page-container {
    padding: 25px;
    background-color: #ffedcb;
}

.yoga-item {
    margin-bottom: 15px;
    padding: 20px;
    border-radius: 15px;
    background-color: #ffe2ab;
}

.yoga-posture-img {
    width: 60px;
    height: 80px;
    margin-right: 15px;
}

.yoga-posture-name {
    color: #253263;
    font-size: 21px;
    font-weight: bold;
}

.yoga-posture-importance {
    color: #253263;
    font-size: 15px;
    font-weight: 500;
}