.container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/chatbg.png");
    height: 100vh;
    background-size: cover;
    color: #ffffff;
}

.header {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #323f4b;
}

.chat-box {
    text-align: center;
}

.sent {
    background-color: #47a3f3;
}

.received {
    background-color: #52606d;
}